body {
	background-color:#FFFFFB;
	padding: 20px;
}
#page {
	margin: 0 auto;
  height: 200px;
  width: 60%;
  padding: 20px;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

#about {
	letter-spacing: 2px;
	font-family: "Cabin",sans-serif;
	font-size: 23px;
	color: #4E5659;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}
#name {
	letter-spacing: 2px;
	font-size: 70px;
	color:#161616;
	text-align: center;
}
#life {
  letter-spacing: 0.5px;
	font-weight: 300px;
	font-size: 23px;
	color:#50B8B4;
  c
}
ul, li {
	list-style-type: none;
	list-style: none;
}
a {
	text-decoration: none;
	color:#50B8B4;
}
a:active {
	color:#D96A88;
}
a:hover {
	color:#D96A88;
}

#page{
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
